name: Remove all untagged images from all packages
on:
  workflow_dispatch:
  schedule:
    - cron: '0 23 * * *'

jobs:
  build:
    name: Remove all untagged container from my packages
    runs-on: ubuntu-latest
    steps:
      - name: Delete all untagged images
        id: deleted-action
        uses: Chizkiyahu/delete-untagged-ghcr-action@v4
        with:
          token: ${{ secrets.IMAGE_REMOVAL_PAT_TOKEN }}
          repository_owner: ${{ github.repository_owner }}
          untagged_only: true
          owner_type: user

      - name: Output cleaned up images
        run: |
          echo "## :wastebasket: Summary" >> $GITHUB_STEP_SUMMARY
          echo 'Deleted images count: <strong>${{ steps.deleted-action.outputs.num_deleted }}</strong>' >> $GITHUB_STEP_SUMMARY
